@font-face {
    font-family: "Half-Elven";
    src: url(/fonts/HalfElven-gzj4.ttf);
}

@font-face {
    font-family: "Hobbiton Brush hand";
    src: url(/fonts/hobbitonbrushhand.ttf);
}

@mixin fixed-center($tx: -50%, $ty: -50%) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate($tx, $ty);
}

body {
    color: #d8d8d8;
    background-color: #222;
}

a {
    &, &:visited {
        color: #2f8de6;
        text-decoration: none;
    }

    &:hover {
        color: #e6882f;
    }
}

input, textarea {
    background-color: #6c6c6c;
    border: none;

    &:focus {
        outline: none;
        background-color: #888;
    }
}

.main-message {
    @include fixed-center($ty: -100%);
    width: 100%;
    color: #0f73dd;
    font-family: "Half-Elven";
    font-size: 6.6666667vw;
    text-align: center;
}

.sub-message {
    @include fixed-center($ty: 10%);
    width: 100%;
    font-family: "Hobbiton Brush hand";
    font-size: 3vw;
    text-align: center;

    &, a {
        color: #0c4a8d;
    }
}
